<!DOCTYPE html>
<html>
<head>
	<title>Revival of the lost strings</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
</head>
<body>
	<div class="Nav_bar">
		<li><a href="/" class="Nav_content">Home</a></li>
		<li><a href="/rabab" class="Nav_content">Rabab</a></li>
		<li><a href="/saranda" class="Nav_content">Saranda</a></li>
		<li><a href="/sarangi" class="Nav_content">Sarangi</a></li>
		<li><a href="/dilruba" class="Nav_content">Dilruba</a></li>
		<li><a href="/taus" class="Nav_content">Taus</a></li>
		<li><a href="/Other_instruments" class="Nav_content">Other Instruments</a></li>
	</div>


	<div class="body">
		<div>
			<img src="/static/Jodi-HD.jpg" height="200">
		</div>

		<h1 class="title">
			Other Non-Stringed instruments in the Culture
		</h1>
		<p class="content">
		There are Some other instruments within the Sikh culture as well which are not stringed instruments but have a place in the darbars just as important as the other instruments and desserve the same respect. Some of these include the Johri-Pakhawaj, the dhadd and the tanpura. These have been used in Sikh sangeet just as long as any other instrument has as well and the overall music and feel of the instruments' vibrations is incomplete without these. However, since my focus was specifically on the lost 'strings', I was not able to give these treasure's worth of instruments the respect the deserved and thus decided to dedicate a page specifically to this portion alone.
		</p>
		<h1 class="title">
			Johri-Pakhawaj
		</h1>
		<iframe width="420" height="315" class="video" 
		src="https://www.youtube.com/embed/O8FMSEDqNNA">
		</iframe>
		<p class="content">
		The johri-pakhawaj is the percussion instrument of sikh culture since it was birthed under the sikh religion itself. It is said that the johri-pakhawaj was formed when the traditional pakhawaj (image given below) was too difficult to be played by <i>satta</i> and <i>balwand</i>, who were two extremely famous raagis during the rule of <i>guru Arjan Dev ji</i>, so it was cut into half vertically and propped up on the ground for ease of playing.
		</p>
		<div>
			<img src="/static/pakhawaj.jpg" height="200">
		</div>
	</div>

	<div class="video">
		
	</div>

</body>
</html>